[Unit]
Description=Backup /chome/santini to OneDrive via restic

[Service]
Type=oneshot
ExecStart=/chome/santini/Activities/Programming/dhevmera/scripts/backup-cloud
StandardOutput=append:/home/santini/backup-cloud.log
StandardError=append:/home/santini/backup-cloud.log
